body{
	margin-bottom:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	line-height: 150%;
	color:#333;
	background: #efeee7;

}



header {list-style-type:none;
margin-bottom: 30px;
padding:30px;
overflow:hidden;
background-color: black
}
header li{
	float:left;
}
 
header li a{
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}


.About img{
	float:left;
	margin:10px;
	padding:5px;
	border:10px;
}
.About{
	float: left;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	border-width: 10px 10px 10px 10px;
	border-style: solid;
	overflow: hidden;
	width: 60%;
}

.container{
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-top: 25px;
	margin-left:150px;
	border-style :solid;
	border-width: 20px 20px 20px 20px;
	overflow: hidden;
	width:100%;
}

#pic{
	float:left;
}
#text1{
	float:left;
}
#text2{
	float:left;
}
.aside{

	
	float:left;
	margin: 100px;
	width: 200px;
	height: 200px;
	overflow: hidden;
	background-color: red;

}
#pic1{
	float:left;
	margin-left:40px;
	margin-top:80px;
}
#pic2{
	float:left;
	margin-top:80px;
}
#pic3{
	float:left;
	margin-top:80px;

}
footer{
	text-align: center;
	padding: 25px;
	background-color:black;
	overflow: hidden;
}
/*
div.gallery{
	border: 2px solid white;
}
div.gallery:hover{
	border:2px solid red;
}
div.gallery img{
	padding 100%;
	height:auto;
}
div.desc{
	padding:15px;
	text-align:center;
}
*{
	box-sizing:border-box;
}
.responsive{
	padding:0 6px;
	float:left;
	width:25%;
}
@media only screen and (max-width:500px){
	.responsive{width:50%;
		margin: 6px 0;
	}

}
@media only screen and (max-width:700px){
	.resposive{
		width:100%;
	}
	*/


	.later{
    	padding-right: 25px;
		padding-bottom: 25px;
		padding-left: 25px;
		padding-top: 25px;
		margin-left:200px;
		border-style:solid;
		border-width: 20px 20px 20px 20px;
		overflow: auto;
		width:90%;
	}
	.contact{
		width:60%;
		border-width: 20px 20px 20px 20px;
		border-style: solid;
		overflow: hidden;
		float: left;
		margin-left:100px;
		overflow: auto;
	}

	.contact textarea {
    	width: 100%;
    	height: 150px;
    	padding: 12px 20px;
    	box-sizing: border-box;
    	border: 2px solid #ccc;
   	    border-radius: 4px;
   	 	background-color: #f8f8f8;
    	resize: none;
}
	.contact input[type=text] {
    	width: 100%;
    	padding: 12px 20px;
    	margin: 8px 0;
    	box-sizing: border-box;
}
	.bad {
		background-color:red;
		border: none;
		color:white;
		padding:16px 32px;
		text-decoration: none;
		margin:4px 2px;
		cursor:pointer;
}

	footer{
	text-align: center;
	padding: 25px;
	background-color:black;
	overflow: auto;
}
